<h1>SPECIAL LISTS!</h1>
<h4>Filters:</h4>
<ul>
  <li>
    Already Read (AR)
    <button>T</button>
    <button>F</button>
  </li>
  <li>
    Read (R)
    <button>T</button>
    <button>F</button>
  </li>
  <li>
    Priority (P)
    <button>T</button>
    <button>F</button>
  </li>
  <li>
    Have (H)
    <button>T</button>
    <button>F</button>
  </li>
</ul>
<h4>The List</h4>
<ul>
  <li>
    <button>AR</button>
    <button>R</button>
    <button>P</button>
    <button>H</button>
    "scott is great" by aldus huxly
    <a href="example.com">learn more</a>
  </li>
  <li>
    <button>AR</button>
    <button>R</button>
    <button>P</button>
    <button>H</button>
    "scott is the best" by scott scott
    <a href="example.com">learn more</a>
  </li>
</ul>
